body {
  background-color: black;
  color: white;
  display: grid;
  justify-content: center;
  font-size: xx-large;
}
#one {
  border: whitesmoke solid 2px;
  border-radius: 50px;
  height: 200px;
  width: 800px;
  background-color: blue;
}
#two {
  border: whitesmoke solid 2px;
  border-radius: 50px;
  height: 200px;
  width: 800px;
  background-color: orangered;
}
#three {
  border: whitesmoke solid 2px;
  border-radius: 50px;
  height: 200px;
  width: 800px;
  background-color: gold;
}
#four {
  border: whitesmoke solid 2px;
  border-radius: 50px;
  height: 200px;
  width: 800px;
  background-color: red;
}
li {
  display: grid;
  justify-content: center;
}
#header {
  display: grid;
  justify-content: center;
}
#header2 {
  display: grid;
  justify-content: center;
}
#scripResults {
  border: whitesmoke solid 2px;
  border-radius: 20px;
  height: 100px;
  width: 400px;
  display: grid;
  justify-content: center;
}
#box2 {
  display: grid;
  justify-content: center;
}
